@model MyVet.Web.Data.Entities.ServiceType

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ServiceType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_ServiceType"/>
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-success">Back to List</a>
</div>

